/* Add a black background colour to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}
/* Style the links inside the top navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
background-color: aqua;
}
.topnav a.active {
    background-color: greenyellow;
}