.container{
  width: 100%;
  padding: 16px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: pink;
  box-sizing: border-box;
}
.button {
    background-color: black;
    color: blueviolet;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .input[type=text]:focus, input[type=password]:focus {
    background-color: green;
    outline: none;
  }
